<div class="container">
    <mat-card class="shipping-card" class="card-container">
        <mat-card-header>
            <mat-card-title>My Profile</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <div class="profile-container">
                <div class="left-side">
                    <img class="profile-image" src="../../../assets/avatar_placeholder.png">
                </div>
                <div class="right-side">
                    Username: {{user.name}} <br>
                    Phone: {{user.phoneNumber}} <br>
                    email: {{user.email}} <br>
                </div>
            </div>
            <div class="apartments-list">
                <div *ngFor="let announcement of user.apartments">
                    <div class="list-element">
                        <img class="apartment-image" src="{{announcement.pictureList[0]}}" [routerLink]="'../announcement/' + announcement.id">
                        <p>{{announcement.address}} {{announcement.city}}</p>
                    </div>
                </div> 
            </div>
            <button class="logout-button" type="submit" (click)="logout()" [routerLink]="'../login'" >Logout</button>
        </mat-card-content>
    </mat-card>
</div>