<app-main-menu currentPage="add-apartment"></app-main-menu>
<form [formGroup]="addressForm" class="container" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card" class="card-container">
    <mat-card-header>
      <mat-card-title>Adaugare apartament</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Suprafata (m<sup>2</sup>)</mat-label>
            <input type="number" matInput placeholder="Square Feet" formControlName="squareFeet" >
            <mat-error *ngIf="addressForm.controls['squareFeet'].hasError('required')">
              Acest camp este obligatoriu
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Localitate</mat-label>
            <input matInput placeholder="City" formControlName="city">
            <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              Acest camp este obligatoriu
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Adresa</mat-label>
            <textarea matInput placeholder="Address" formControlName="address"></textarea>
            <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
              Acest camp este obligatoriu
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Descriere</mat-label>
            <textarea matInput rows="5" placeholder="Details" formControlName="details"></textarea>
            <mat-error *ngIf="addressForm.controls['details'].hasError('required')">
              Acest camp este obligatoriu
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Pret chirie (&euro; / luna)</mat-label>
            <input type="number" matInput placeholder="Price" formControlName="price" >
            <mat-error *ngIf="addressForm.controls['price'].hasError('required')">
              Acest camp este obligatoriu
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Numarul de camere</mat-label>
            <input matInput placeholder="Rooms" formControlName="rooms">
            <mat-error *ngIf="addressForm.controls['rooms'].hasError('required')">
              Acest camp este obligatoriu
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="file">Adauga imagini</label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input class="choose" type="file" id="file" multiple (change)="getFileDetails($event)">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <img style="padding: 15px;" *ngFor="let url of urls" [src]="url"  width="180">
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions style="display: table; margin: 0 auto;">
      <button mat-raised-button color="primary" type="submit"
      [disabled]="addressForm.invalid">Adauga apartament</button>
    </mat-card-actions>
  </mat-card>
</form>
